<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <div class="flex flex-col items-center gap-4">
        <%= image_tag "#{@profile.image_url}", class: "rounded-full h-48 w-48" %>
        <h2 class="text-4xl font-bold"><%= @profile.full_name %><h2>
        <h2 class="text-xl mb-8 text-center italic"><%= @profile.bio %><h2>

        <%= link_to 'Edit', edit_profile_path(@profile), class: "btn ml-2" %>
    </div>
  </div>
</div>
