<% if object.errors.any? %>
  <ul class="my-4 flex-col">
    <% object.errors.full_messages.each do |message| %>
        <div class="w-full text-white text-sm bg-red-500 my-4 rounded-md">
            <div class="container flex items-center justify-between px-3 py-2 mx-auto">
                <div class="flex items-baseline">
                    <i class="fa fa-exclamation-circle h-3"></i>
                    <p class="mx-3"><%= message %></p>
                </div>
            </div>
        </div>
    <% end %>
  </ul>
<% end %>